<body>

    <h2>Add Student</h2>
        <form action="/updateModule" method="POST">
            <label>Student ID:</label><br />
            <input type="text" name="sid"><br />
            <label>Name:</label><br />
            <input type="text" name="name" ><br />
            <label>GPA:</label><br />
            <input type="number" name="gpa"></input><br /><br />
            <input type="submit" value="submit">

        </form>
            <a href="/">Home</a><br /><br />

</body>